= form_block_alerts @business
.columns
  = form_for @business do |f|
    .column
      = f.label :name
      = f.text_field :name, class: 'span6'
      .small-columns
        .column
          = f.label :address
          = f.text_field :address
        .column
          = f.label :city
          = f.text_field :city
        .clear
      .small-columns
        .column
          = f.label :state
          = f.us_state_select :state, {}, {}, {class: 'span2'}
        .column
          = f.label :zipcode, 'ZIP Code'
          = f.text_field :zipcode, maxlength: 5, class: 'span1'
        .column
          = f.label :phone
          = f.text_field :phone
        .clear
      = f.label :description
      = f.text_area :description, class: 'span6'
    .column
      = f.label :business_picture
      - if params[:action] == 'edit'
        = image_tag @business.business_picture_url(:thumb), class: 'thumbnail'
      = f.file_field :business_picture
      = f.hidden_field :business_picture_cache
    .clear
    = f.submit (params[:action] == 'edit' ? 'Update info' : 'Create Business'), class: 'btn btn-info'
