.white_box
  %h2= "Connections of #{@business.name}"
  .page_list
    = paginate @connections
    %ul
      - @connections.each do |connection|
        %li
          .list_picture
            = link_to image_tag('http://placehold.it/80x80', class: 'thumbnail'), url_for(connection)
          .list_name
            = link_to connection.name, url_for(connection)
          .list_address
            = connection.address
          .clear
    = paginate @connections