.white_box
  %h2= "Followers of #{@business.name}"
  .followers_list
    = paginate @followers
    %ul
      - @followers.each do |follower|
        %li
          .follower_avatar
            = link_to image_tag('http://placehold.it/80x80', :class => :thumbnail), url_for(follower)
          .follower_name
            = link_to follower.name, url_for(follower)
          .follower_info
            = follower.address
          .clear
    = paginate @followers