.white_box
  .widget.grid#recent_loan_requests
    %h4 Recent Loan Requests
    %ul
      -@recent_loans.each do |loan|
        %li{:class => list_classes(loan, @recent_loans)}
          .loan_header
            = link_to loan.business.name, business_path(loan.business)
            %span= number_to_currency loan.amount_requested
            .clear
          .loan_body
            %p= truncate(loan.description)
            = link_to 'More Info >>>', user_path(loan.user), :class => 'loan_more_info'
            .clear
          .loan_footer= "Posted #{time_ago_in_words(loan.published_date)} ago"
    = link_to 'See more loan requests', loans_path, :class => 'loan_see_more'
    .clear
  .widget.grid#my_deal_book
    %h4 My Deal Book
    %ul
      %li.odd.first
        .loan_header
          = link_to "Fairchild Wedding Photography, LLC", "#"
          .clear
        .loan_body
          %p 50% a wedding photo/video package with FWP
          = link_to "More Info >>>", "#", :class => 'loan_more_info', :remote => true
          .clear
      %li.even.last
        .loan_header
          = link_to "Earl Bruce Hardware", "#"
          .clear
        .loan_body
          %p Your photo on the Earl Bruce Hardware Heroes wall
          = link_to "More Info >>>", "#", :class => 'loan_more_info', :remote => true
          .clear