.white_box
  .widget.grid#recent_loan_requests
    %h4 Recent Loan Requests
    %ul
      -@recent_loans.each do |loan|
        %li{:class => list_classes(loan, @recent_loans)}
          .loan_header
            = link_to loan.business.name, business_path(loan.business)
            %span= number_to_currency loan.amount_requested
            .clear
          .loan_body
            %p= truncate(loan.description)
            = link_to 'More Info >>>', business_path(loan.business), :class => 'loan_more_info'
            .clear
          .loan_footer= "Posted #{time_ago_in_words(loan.published_date)} ago"
    = link_to 'See more loan requests', loans_path, :class => 'more loan_see_more'
    .clear
  .widget.grid#my_deal_book
    %h4 My Deal Book
    %h5 Coming soon...
