<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Description:</b>
  <%= @profile.description %>
</p>

<p>
  <b>Public:</b>
  <%= @profile.public %>
</p>

<ul>
<% if !@profile.profile_activities.blank? %>
  <% for activity in @profile.profile_activities %>
    <li>activity.name</li>
  <% end %>
<% else %>
 <li>No activities</li>
<% end %>
</ul>


<div id="follow_container">
    <%= form_for @profile, :html => { :id => 'follow_form' } do |f| -%>
       <%= f.hidden_field :id %>
     <% end -%>
    <a href='#' id="follow">Follow</a>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
