.white_box
  %h2 Pledge Funds
  .clear
  = form_block_alerts @loan
  = form_block_alerts @transaction
  = form_block_alerts @message
  .columns
    %ul.loans_list
      = render partial: 'loans/loan', object: @loan
    #content
      .white_box
        .post_box
          = form_for @transaction, :url => { :action => "create" } do |f|
            I'm pledging: $
            = f.text_field :amount
            \.00 towards this loan request
            = fields_for @message do |m|
              = m.text_area :text, placeholder: "Leave a message of support for #{@loan.business.name}..."
            .clear
            = f.submit 'Pledge', class: 'btn btn-success'

