- klass = notification.viewed_at.nil? ? 'notification_new' : nil
%li{class: klass}
  .notification_picture
    = link_to image_tag('80x80.png', :class => :thumbnail), url_for(notification.followed)
  .notification_content
    .notification_name
      = link_to notification.followed.name, url_for(notification.followed)
      - if notification.status == 'requested'
        would like to establish a business connection with you.
      - else
        has accepted your request.
    .notification_body
      %blockquote= notification.message
  - if notification.status == 'requested'
    .notification_buttons
      .btn-group.accept_reject
        = link_to 'Accept', accept_business_path(notification.follower_id, notification.followed_id), remote: true, class: 'btn btn-success'
        = link_to 'Ignore', ignore_business_path(notification.follower_id, notification.followed_id), remote: true, class: 'btn'
  .clear
  .notification_meta
    .notification_date
      - if notification.status == 'requested'
        = "Requested #{time_ago_in_words(notification.created_at)} ago"
      - else
        = "Accepted #{time_ago_in_words(notification.response_at)} ago"
    .clear