.white_box
  %h2= "Followers of #{@user.name}"
  .page_list
    = paginate @followers
    %ul
      - @followers.each do |follower|
        %li
          .list_picture
            = link_to image_tag('80x80.png', class: 'thumbnail'), url_for(follower)
          .list_name
            = link_to follower.name, url_for(follower)
          .list_address
            = follower.address
          .clear
    = paginate @followers