.white_box
  .widget.grid
    %h4= "Lenders #{@user.first_name} is Following"
    %ul
      - followings.each do |followed|
        %li{class: list_classes(followed, followings)}
          = link_to image_tag('35x35.png', class: 'thumbnail'), url_for(followed), class: 'widget_picture'
          .widget_description
            = link_to followed.name, url_for(followed), class: 'widget_name'
            %p.widget_address= "#{followed.city}, #{followed.state}"
          .clear
    - if @user.followed_users.count > 3
      = link_to "See more lender's following...", followings_user_path(@user), class: 'widget_more_link'
    .clear