.white_box
  .widget.grid
    %h4= "Businesses #{@user.first_name} is Following"
    %ul
      - businesses.each do |business|
        %li{class: list_classes(business, businesses)}
          = link_to image_tag('35x35.png', class: 'thumbnail'), url_for(business), class: 'widget_picture'
          .widget_description
            = link_to business.name, url_for(business), class: 'widget_name'
            %p.widget_address= business.address
          .clear
    - if @user.businesses.count > 3
      = link_to "See more business relationships...", business_followings_user_path(@user), class: 'widget_more_link'
    .clear