<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_id, "Business:" %><br />
    <%= select("loan", "business_id", current_user.businesses.collect {|b| [ b.name, b.id ] } ) %>
  </div>
  <div class="field">
    <%= f.label :request_date %><br/>
    <%= @loan.request_date.to_date.to_formatted_s( :js_month_day_year ) %>
  </div>
  <div class="field">
    <%= f.label :amount_requested %><br />
    <%= f.text_field :amount_requested %>
  </div>
  <div class="field">
    <%= f.label :funding_deadline %><br />
    <%= text_field_tag "datepicker", @loan.funding_deadline.to_formatted_s(:js_month_day_year) %>
  </div>
  <div class="field">
    <%= f.label :loan_purpose_id, "Loan Purpose:" %><br />
    <%= select("loan", "loan_purpose_id", LoanPurpose.all.collect {|b| [ b.description, b.id ] } ) %>
    <!-- TODO: update these values -->
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :benefits %><br />
    <%= f.text_field :benefits %>
  </div>
  <div class="field">
    <%= f.label :thank_you_message %><br />
    <%= f.text_field :thank_you_message %>
  </div>
  <div class="actions">
    <%= f.submit 'Publish' %>
  </div>
<% end %>
