<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business %><br />
    <%= f.text_field :business %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :request_date %><br />
    <%= f.datetime_select :request_date %>
  </div>
  <div class="field">
    <%= f.label :amount_requested %><br />
    <%= f.text_field :amount_requested %>
  </div>
  <div class="field">
    <%= f.label :funding_deadline %><br />
    <%= f.datetime_select :funding_deadline %>
  </div>
  <div class="field">
    <%= f.label :loan_purpose_description %><br />
    <%= f.text_field :loan_purpose_description %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :benefits %><br />
    <%= f.text_field :benefits %>
  </div>
  <div class="field">
    <%= f.label :thank_you_message %><br />
    <%= f.text_field :thank_you_message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
