%li.white_block
  .loan_pictures
    = image_tag loan.business.business_picture_url(:loan), :class => :thumbnail
  .loan_description
    .business_info
      = link_to url_for(loan.business) do
        %h4.business_name= loan.business.name
    %p.loan_info= loan.description
    %h4 Benefits to Lenders:
    %p.loan_info= loan.benefits
    .clear
  .loan_details
    %table
      %tr.loan_amount
        %th{:colspan => 3} Loan Amount
      %tr
        %td{:colspan => 3}= number_to_currency loan.amount_requested
      %tr
        %th.loan_table_loaned Loaned
        %th.loan_table_funded Funded
        %th.loan_table_lenders Lenders
      %tr
        %td= number_to_currency(loan.total_committed || 0)
        %td= "#{loan.funded}%"
        %td 0
      %tr
        %th{:colspan => 2} Funding deadline
        %td.loan_lend_button{:rowspan => 2}= link_to 'Lend', '#', :class => 'btn btn-success'
      %tr
        %td{:colspan => 2}= (loan.funding_deadline || Time.now + 1.month).strftime('%m/%d/%Y')
    .clear
  .clear