<h1>The loan process, simplified.</h1>
<ul class="loan_process">
  <li class="loan_process_step_1"></li>
  <li class="loan_process_step_2"></li>
  <li class="loan_process_step_3"></li>
  <li class="loan_process_step_4"></li>
</ul>
<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :business_id, "Business:" %><br />
    <%= select("loan", "business_id", current_user.businesses.collect {|b| [ b.name, b.id ] } ) %>
  </div>

  <div class="field">
    <%= f.label :amountRequested, "Loan Request Amount:" %><br />
    <%= f.text_field :amountRequested %>
  </div>
  <div class="field">
    <%= f.label :loan_purpose_id, "Purpose of Loan:" %><br />
    <%= select("loan", "loan_purpose_id", LoanPurpose.all.collect {|lp| [ lp.description, lp.id ] } ) %>
  </div>
  <div class="field">
    <%= f.label :fundingDeadline, "Funding Deadline:" %><br />
    <%= f.text_field :fundingDeadline, {:id => 'datepicker'}%>
  </div>
  <div class="actions">
    <%= f.submit "Submit Loan Request"%>
  </div>
<% end %>
