<h1>Editing loan</h1>

<% if @loan.published_date.blank? %>
  <%= render :partial => "not_published", :locals => { :loan => @loan } %>     
<% else %>
  <%= render :partial => "published", :locals => { :loan => @loan } %>
<% end %>


<%= render 'form' %>

<%= link_to 'Show', @loan %> |
<%= link_to 'Back', loans_path %>
