<%= twitter_bootstrap_form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
    <div id="error_explanation">
      <h2>Sorry, we couldn't log you on.</h2>

      <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Log in' %>
  </div>
<% end %>
