= form_for @user_session do |f|
  - if @user_session.errors.any?
    #error_explanation
      %h2 Sorry, we couldn't log you on.
      %ul
        - @user_session.errors.full_messages.each do |msg|
          %li= msg
  = f.text_field :email, placeholder: 'Email'
  = f.password_field :password, placeholder: 'Password'
  = f.submit 'Log in', class: 'btn'