#header
  #logo
    = link_to image_tag('layouts/logo.png', :width => 250, :height => 50, :alt => 'LendSocial - Building Community', :title => 'LendSocial - Building Community'), root_path
  #top_menu
    %ul
      %li
        = link_to 'Lend', loans_path, :class => 'menu_lend'
      %li
        = link_to 'Borrow', page_path('borrower_instructions'), :class => 'menu_borrow'
      %li
        = link_to 'My Investments', page_path('investments'), :class => 'menu_investments'
      %li
        = link_to 'Community', page_path('community'), :class => 'menu_community'
  .clear
= render partial: 'layouts/flash', locals: {flash: flash} unless flash.blank?
- if user_signed_in?
  #my_menu
    .my_menu_left
      %ul
        %li.first
          Hello,
          %strong= current_user.name
        %li
          = link_to 'My Panel', dashboard_index_path
        %li
          = link_to 'My Profile', user_path(current_user)
        %li
          = link_to 'My Companies', user_businesses_path
    .my_menu_right
      %strong
        = link_to 'Sign Out', user_signout_path
    .clear